* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #ffd103;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
  
header a {
    color: #015eb5;
    /* font-family: "McLaren", cursive; */
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.4;
    color: #111111;
}

a {
    text-decoration: none !important;
    color: #111111;
}

footer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    align-content: center;
    padding: 3% 15% 2%;
    text-align: center;
}

h1.new-books {
    border-bottom: 2px solid #ffd103;
    color: #015eb5;
}

/* SECTIONS
**************************************/
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.section {
    padding-top: 4rem;
    display: block;
    position: relative;
}

.blog-box {
    padding: 1rem;
    background-color: #edeff2;
}

.post-media {
    position: relative;
    overflow: hidden;
}

.post-media img {
    width: 100%;
}

.post-media img {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.post-media:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.hovereffect {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0.5;
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=1);
}

.post-media:hover .hovereffect {
    visibility: visible;
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}

.blog-meta h4 {
    padding: 1rem 0 0.5rem;
    margin: 0;
    font-size: 1rem;
}

.blog-meta p {
    margin-bottom: 0.5rem;
    padding-bottom: 0;
    font-size: 0.85rem;
}

.book {
    border: none;
}

.book img {
    width: 100%;
    max-width: 300px;
}

.card-data {
    margin: 0;
    font-size: .875rem;
}

.card-desc {
    margin-top: 2rem;
}

.small-title {
    background: #ffd103 none repeat scroll 0 0;
    color: #015eb5;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    padding: 0.6rem 1.5rem;
    position: absolute;
    text-align: center;
    top: -18px;
}

.custombox {
    position: relative;
    padding: 3rem 2rem;
    border: 1px dashed #015eb5;
}

.form-wrapper .form-control {
    background: #fff none repeat scroll 0 0;
    border: 1px dashed #015eb5;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.3px;
    margin-bottom: 1.4rem;
    min-height: 50px;
    text-transform: none;
}

.form-wrapper textarea {
    min-height: 120px !important;
    padding-top: 1rem;
}

.comments-list .media {
    padding: 1rem;
    margin-bottom: 15px;
}

.comments-list p {
    margin-bottom: 1rem;
    white-space: pre-wrap;
}

.comments-list small {
    color: #999 !important;
    font-size: 11px;
    letter-spacing: 2px;
    margin-top: 5px;
    padding-left: 10px;
    text-transform: uppercase;
}

/* .media-body .btn-primary {
    padding: 5px 15px !important;
    font-size: 11px !important;
} */

.username {
    font-size: 16px;
    font-weight: 500;
}


@media (min-width: 1200px) {
    .col-xl-5th {
        flex: 0 0 auto;
        width: 20%;
    }
}
